@tailwind base;
@tailwind components;
@tailwind utilities;


.overlay{
    height: 10%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;

}
.overlay .closebtn{
    position: absolute;
    font-size: 30px;
}